# Created by .ignore support plugin (hsz.mobi)
*.class
*.log
*.iws
*.bat
*.sc
.idea
.idea/
.idea_modules/
.history
.cache
.lib/
.DS_Store
cmake-build-debug/
out/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
dist/*
target/
*/**/target/
target/
project/
project/target
project/project/
project/boot/
project/plugins/project/
lib_managed/
src_managed/
env.conf
.idea/*
metastore_db/
